BasedOnStyle: Google
AccessModifierOffset: 0
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
IncludeBlocks: Preserve
PointerAlignment: Right
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignOperands: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: true
EmptyLineBeforeAccessModifier: Always
InsertNewlineAtEOF: true
NamespaceIndentation: None
